.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.TaskBox {
  flex: 1 1 20%;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.task {
  margin: 5px 0;
  padding: 5px;
  background-color: #f0f0f0;
  cursor: grab;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .TaskBox {
    flex-basis: 30%;
  }
}

@media (max-width: 576px) {
  .TaskBox {
    flex-basis: 45%;
  }
}
